<div class="container">

  <div *ngIf="add$ || edit$">
    <form id="collaboratorForm">
      <label for="nome">Nome</label>
      <input type="text" [(ngModel)]="nome" name="nome" required>
      <div></div>

      <label for="cpf">CPF</label>
      <input type="text" [(ngModel)]="cpf" name="cpf" required>
      <div></div>

      <label for="dataAdmissao">Data de Admissão</label>
      <input type="date" [(ngModel)]="dataAdmissao" name="dataAdmissao" required>
      <div></div>

      <label for="remuneracao">Remuneração</label>
      <input type="number" [(ngModel)]="remuneracao" name="remuneracao" required>
      <div></div>

      <label for="cargo">Cargo</label>
      <select   [(ngModel)]="cargo" name="cargo" required>
        <option *ngFor="let c of cargos$" value={{c.id}}>{{c.descricao}}</option>
      </select>
      <div></div>

      <div></div>
      <div *ngIf="edit$">
        <button class="button1" (click)="update()" [disabled]="!validateForm() || !validateCPF()"> 
          Salvar
        </button>
        </div>
        <div *ngIf="add$">
      <button class="button1" (click)="create()" [disabled]="!validateForm() || !validateCPF()"> 
        Adicionar novo colaborador
      </button>
    </div>

      <button class="button1" (click)="close()"> 
       Cancelar
      </button>
    </form>
  
  </div>
  <div *ngIf="!add$ && !edit$">
  <h2> Gestão de Colaboradores </h2>
  <table  >
    <thead>
      <!-- <th>  </th> -->
      <th> Colaboradores </th>
      <th> Cargo </th>
      <th> CPF </th>
      <th> Data de admissão </th>
      <th> Remuneração </th>
      <th>  </th>
      <button class="button3" (click)="add()"> 
        {{ 'Adicionar novo colaborador' }}  
      </button>
    </thead>
    <tbody>
      <tr *ngFor="let colaborador of colaboradores$?.data">
        <!-- <td> {{ colaborador.id }} </td> -->
        <td> {{ colaborador.nome }} </td>
        <div *ngFor="let c of cargos$">
          <td *ngIf="c.id == colaborador.cargo.id">
            {{c.descricao}}</td>
          </div>
        <td> {{ colaborador.cpf }} </td>
          <td> {{ colaborador.dataAdmissao }} </td>
          <td> {{ 'R$ ' + colaborador.remuneracao }} </td>
          <td>
            <button class="button" (click)="edit(colaborador)"> 
              {{ 'Editar' }}  
            </button>

      </td>         
      <td>
        <button class="button" (click)="remove(colaborador.id)"> 
          {{ 'Remover' }}  
        </button>

  </td>         

        </tr>
        </tbody>
  </table>
  <body>
    <footer>
      <tr>
          <th *ngIf="colaboradores$?.prev != null">
            <button class="button" (click)="getColaboradores(colaboradores$?.prev!)" >
            {{colaboradores$?.prev}}
          </button> 
          </th>          <th>
            <button class="button2">
              {{page$}}
            </button> 
            </th>
            <th *ngIf="colaboradores$?.next != null">
              <button class="button" (click)="getColaboradores(colaboradores$?.next!)" >
              {{colaboradores$?.next}}
            </button> 
            </th>
       </tr>

    </footer>
  </body>
</div>
</div>
