:host {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  padding: 20px;
  overflow: auto;
  

  &::-webkit-scrollbar {
    width: 0px;
  }

  .container {
    border-radius: 24px;
    //background: #fff;
    //box-shadow:  29px 29px 43px #181819,-29px -29px 43px #363839;
    padding: 30px;
    //width: 1260px;

    form {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      flex-direction: column;
      
      div{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        margin-right: 5px;
        align-items: center;  
      }
    }
    label {
      color: #365ddd;
  //font-size: 14px;
  //display: block;
  padding: 15px;
  background-color: #00000000;
}
    input {
      //max-width: 190px;
      padding: 12px;
      border: none;
      border-radius: 4px;
      box-shadow: 2px 2px 2px 0 rgb(0, 0, 0, 0.2);
      //outline: none;
      color: #2e2e2e;

    }
    select
    {
      //max-width: 190px;
      padding: 12px;
      border: none;
      border-radius: 4px;
      box-shadow: 2px 2px 2px 0 rgb(0, 0, 0, 0.2);
      //outline: none;
      color: #2e2e2e;
    }

    button {
      border: 0;
      border-radius: 40px;
      
      cursor: pointer;
      //background-color: #fff;
      padding: 15px 15px;
      font-weight: 700;
      width: 100%;
      color: #365ddd;
      

      &:hover {
        background-color: #365ddd3a;
        //color: #fff;
      }
      &:disabled{
        color: #365ddd3a;
        &:hover {
          background-color: #00000000;
        }
      }
    }
  }
  h2 {
    color: #365ddd;
    //font-size: .7rem;
    background: #fff;
  }
  
  footer {
  //position: fixed;
  //bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  }
  .button {
    text-decoration: underline;
  }  
  .button2 {
    background-color: #365ddd1f;
  }
  .button3 {
    background-color: #365ddd1f;
  }




  table {
    margin-top: 40px;
    width: 100%;
    text-align: center;
    background: #fff;


    th, td {
      padding: 16px 26px;
      //border-top: 1px solid ;
      background: #fff;
      color: #2e2e2e;
    }
    th {
      color: #365ddd;
      //font-size: .7rem;
    }
    span {
      background: #fff;
      color: #365ddd;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}